version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "covenants-ocr-page"
s3_bucket = "XXXX"
s3_bucket_in = "XXXX"
s3_bucket_out = "XXXX"
s3_prefix = "covenants-ocr-page"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []

[otherenv]
[otherenv.deploy]
[otherenv.deploy.parameters]
stack_name = "mp-ca-contracosta-prd-lambda-ocr-page"
s3_bucket = "XXXX"
s3_bucket_in = "XXXX"
s3_bucket_out = "XXXX"
s3_prefix = "lambda-ocr-page"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []